@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,100;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;300;400;700&display=swap');

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  /* --primary-color: #8f0; */
  --primary-color: #ff9900;
  --secondary-color: #fff;
  --bg-color: rgb(15,3,18);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', Arial;
  font-size: 13px;
}

body {
  /* background: url('/ilobatodev_bg.svg');
  background-repeat: repeat; */
  /* background: url('/ilobatodev_bg1.jpg'); */
  background-size: cover;
  color: #fff;
  background: var(--bg-color);
  overflow-y: hidden;
}

input, textarea {
  padding: .7em;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  background-color: black;
  color: var(--primary-color);
  outline: none;
}

.logo {
  text-align: center;
  line-height: 1.2;
  font-style: normal;
  color: #fff;
  font-size: 56px;
  letter-spacing: 0;
  font-weight: 100;
  user-select: none;
}

.bigBoy {
  width: 200px;
}

.logo span {
  color: var(--primary-color);
}

.subTitle {
  font-family: Oswald,serif;
  -webkit-text-fill-color: #fff;
  font-size: 11px;
  letter-spacing: 8.9px;
  text-transform: uppercase;
  font-weight: 200;
  margin-top: -5px;
  user-select: none;
}

.destaque {
  color: var(--primary-color);
  font-weight: bold;
}

.btn-personalizado {
  border: 1px solid var(--primary-color);
  background-color: transparent;
  font-family: "Oswald";
  font-size: 14pt;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 1em 2em;
  transition: all .3s ease;
  color: #fff;
  margin: 0 auto;
  max-width: 230px;
}

.btn-personalizado:hover {
  color: var(--secondaryy-color);
  background-color: var(--primary-color);
}

.btn-personalizado:focus {
  box-shadow: 0 0 0 .08rem var(--primary-color);
}

.footerCredits {
  font-family: Oswald,serif;
  -webkit-text-fill-color: #fff;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 200;
  font-style: normal;
}

.contentPop {
  min-width: 243.7px;
  min-height: 120px;
  border-radius: 4px;
  padding: 2em;
  border: 1px solid var(--primary-color);
}

.contentBox {
  /* border: 1px solid var(--primary-color); */
  min-height: 400px;
  border-radius: 4px;
}

/* MODAL BOX */
.modal {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal .modal-dialog {
  max-width: 100%;
}

.modal-content {
  background-color: transparent;
  overflow: unset;
}

.modal-content .btn-close {
  background-color: #000;
  border: 1px solid var(--primary-color);
  position: absolute;
  right: 20px;
  top: 0;
  z-index: 999999;
}

.modal a {
  color: var(--primary-color);
}

.modal a:hover {
  color: var(--primary-color);
  filter:brightness(0.9);
}

.modal .trabalhoContainer {
  margin-bottom: 2em;
}

.modal .trabalhoContainer:last-of-type {
  margin-bottom: 0;
}

.modal .trabalhoContainer .contentImg {
  max-height: 100px;;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  overflow: hidden;
}

.modal .trabalhoContainer .contentImg img {
  width: 100%;
}

.modal .sobreMim {
  line-height: 27px;
}

.modal .sobreMim p {
  text-align: justify;
  color: #ccc;
}

.modal .sobreMim .mini-title {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--secondary-color);
}

.modal .sobreMim .mini-title::before {
  content: '[ ';
}

.modal .sobreMim .mini-title::after {
  content: ' ]';
}

.modal .sobreMim .mini-title::before, .modal .sobreMim .mini-title::after {
  color: var(--primary-color);
  font-weight: normal;
}

.modal .btn {
  background-color: var(--primary-color);
  padding: .6em;
}

/* IMPORTANT CLASS */
/* 
.alignBoxAtCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
} */

/* MENU E LINKS */

/* a {
  color: rgb(255, 220, 22) !important;
  text-decoration: none;
}

a:hover {
  color: rgb(206, 176, 10) !important;
  text-decoration: none;
} */

/* TITLES E SUBTITLES */
/* :is(h1, p) {
  margin: 0;
}

.exoFont {
  font-family: 'Exo';
}

.topMenu a {
  color: rgb(224, 220, 206);
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Exo';
}

.topMenu .logo {
  color: rgb(255, 201, 22);
  font-family: 'Exo', Arial;
  font-weight: bold;
  font-size: 17px;
} */